<!doctype html>
<html lang="ru">
 <head> 
  <meta charset="utf-8"> 
  <title>Вакансии</title> 
 </head> 
 <body> 
  <table> 
   <tbody> 
    <tr> 
     <th>Title</th> 
     <th>City</th> 
     <th>Company Name</th> 
     <th>Salary</th> 
    </tr>                                                                                                                                                                                                                                                 
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42323825?query=java%20Saratov">Java Developer (удаленная работа)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Крит</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42208447?query=java%20Saratov">Разработчик Java (Spring Framework)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Астор</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42575058?query=java%20Saratov">Java разработчик (Middle)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Magenta Technology</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42445428?query=java%20Saratov">Junior Java Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Крит</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42517066?query=java%20Saratov">Junior Java Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41826984?query=java%20Saratov">Middle Java Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Кадровое агентство Юнити</td> 
     <td class="salary">от 220 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42446865?query=java%20Saratov">Java Senior Developer / Архитектор Java (удаленная работа)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Крит</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41729146?query=java%20Saratov">Android-разработчик (Kotlin, Java)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Сервисный центр Транстелематика</td> 
     <td class="salary">от 180 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41818466?query=java%20Saratov">Middle Java Developer (Custom Solutions)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42498188?query=java%20Saratov">Java-разработчик (Удаленно)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Центр Орбита</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42591410?query=java%20Saratov">Senior Software Engineer (Java)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Netcracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41818468?query=java%20Saratov">Java Developer. Jmix</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40975355?query=java%20Saratov">IDE Developer (Java/Kotlin). Jmix</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42531971?query=java%20Saratov">Разработчик Backend (Java)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/39430900?query=java%20Saratov">Java-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">СимбирСофт,ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42288719?query=java%20Saratov">Разработчик Java/Scala (Junior)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Кадровый центр Аквариум</td> 
     <td class="salary">25 000-50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41768842?query=java%20Saratov">Lead Java Developer (MSA)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42289154?query=java%20Saratov">Разработчик Java/Scala (Middle)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Кадровый центр Аквариум</td> 
     <td class="salary">50 000-80 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42430417?query=java%20Saratov">Java Middle Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Itransition</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42285823?query=java%20Saratov">Java/Scala Developer (Junior)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ИнфоБиС</td> 
     <td class="salary">20 000-50 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41117586?query=java%20Saratov">Преподаватель по программированию на языке Java для школьников</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Центр Автоматизации Бизнеса Форвард</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38756423?query=java%20Saratov">Методист курсов по программированию Java/Python</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Центр Автоматизации Бизнеса Форвард</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42134000?query=java%20Saratov">Java-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Опендэв</td> 
     <td class="salary">от 150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41160297?query=java%20Saratov">Java-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Эксперио</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41897519?query=java%20Saratov">Java Software Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">X-Cart (ООО Креативные Технологии)</td> 
     <td class="salary">80 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41964824?query=java%20Saratov">Java Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Синимекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42430472?query=java%20Saratov">Java Senior Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Itransition</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42269122?query=java%20Saratov">Стажер тестировщик-автоматизатор</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Антара</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42504180?query=java%20Saratov">Full stack Java Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Impulse.Expert</td> 
     <td class="salary">от 100 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42067962?query=java%20Saratov">Android разработчик | Android developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">САТЕЛ, Группа компаний</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41768858?query=java%20Saratov">Старший разработчик Java (NFO)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/36436152?query=java%20Saratov">Middle Java developer (Совкомбанк Технологии)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42011380?query=java%20Saratov">Программист-стажер АСУ ТП</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО АМастер</td> 
     <td class="salary">от 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42336104?query=java%20Saratov">Младший разработчик Java</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Exactpro</td> 
     <td class="salary">43 000-60 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/32848651?query=java%20Saratov">Веб программист (Junior Web-разработчик)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО РэйнбовСофт, НПО</td> 
     <td class="salary">16 000-30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41887672?query=java%20Saratov">QA Automation (remote)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">IT_Selection</td> 
     <td class="salary">100 000-160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38863657?query=java%20Saratov">Senior Java developer (Совкомбанк Технологии)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/37588601?query=java%20Saratov">Java-разработчик Middle</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Опендэв</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42339244?query=java%20Saratov">Разработчик в тестировании/SDET (Python)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">СимбирСофт,ООО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40352149?query=java%20Saratov">Java-разработчик Senior</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Опендэв</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42569452?query=java%20Saratov">Разработчик Jira</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42556345?query=java%20Saratov">Senior/Middle QA Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">IT_Selection</td> 
     <td class="salary">160 000-250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41784238?query=java%20Saratov">Senior Java developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Банк Открытие</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42155193?query=java%20Saratov">Java developer (удаленная работа)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Solvo</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42093397?query=java%20Saratov">Руководитель службы IT разработки</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42167217?query=java%20Saratov">Java-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42575600?query=java%20Saratov">SAP Hybris Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Itransition</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/36329285?query=java%20Saratov">DevOps</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Lineate</td> 
     <td class="salary">от 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/37482391?query=java%20Saratov">Senior Java developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Lineate</td> 
     <td class="salary">170 000-200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41833215?query=java%20Saratov">DevOps Specialist</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">РТ МИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42079871?query=java%20Saratov">Разработчик Back-end (Java)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО АЙФЭЛЛ</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40991963?query=java%20Saratov">Java Developer (Middle/Senior)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42594019?query=java%20Saratov">Системный аналитик микросервисной платформы (возможна удаленная работа)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41840868?query=java%20Saratov">Разработчик приложений на android</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Персонал-Консалтинг</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41511633?query=java%20Saratov">QA Automation mobile/Специалист по автоматизированному тестированию мобильных приложений (remote)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Лига Ставок</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38236943?query=java%20Saratov">Java Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42543719?query=java%20Saratov">Системный инженер / DevOps Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40976923?query=java%20Saratov">React Developer. Jmix</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41086967?query=java%20Saratov">Ведущий Java разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Артезио - Саратов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41818467?query=java%20Saratov">Developer Relations специалист open source проекта. Jmix. Удаленно</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42528732?query=java%20Saratov">Специалист сопровождения openAPI</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42529556?query=java%20Saratov">Специалист сопровождения тестовых сред</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41761552?query=java%20Saratov">Backend QA engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38552131?query=java%20Saratov">Flutter разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41942685?query=java%20Saratov">Lead Backend QA engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40968879?query=java%20Saratov">IOS Developer (Sherlock)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38552759?query=java%20Saratov">Middle iOS ‎разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/32848651?query=java%20Saratov">Веб программист (Junior Web-разработчик)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО РэйнбовСофт, НПО</td> 
     <td class="salary">16 000-30 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42556345?query=java%20Saratov">Senior/Middle QA Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">IT_Selection</td> 
     <td class="salary">160 000-250 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41833215?query=java%20Saratov">DevOps Specialist</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">РТ МИС</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/36329285?query=java%20Saratov">DevOps</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Lineate</td> 
     <td class="salary">от 160 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42093397?query=java%20Saratov">Руководитель службы IT разработки</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42594019?query=java%20Saratov">Системный аналитик микросервисной платформы (возможна удаленная работа)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41511633?query=java%20Saratov">QA Automation mobile/Специалист по автоматизированному тестированию мобильных приложений (remote)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Лига Ставок</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42543719?query=java%20Saratov">Системный инженер / DevOps Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Devexperts</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40976923?query=java%20Saratov">React Developer. Jmix</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40968879?query=java%20Saratov">IOS Developer (Sherlock)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38552131?query=java%20Saratov">Flutter разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41942685?query=java%20Saratov">Lead Backend QA engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41818467?query=java%20Saratov">Developer Relations специалист open source проекта. Jmix. Удаленно</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Haulmont</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41761552?query=java%20Saratov">Backend QA engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38552759?query=java%20Saratov">Middle iOS ‎разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42528732?query=java%20Saratov">Специалист сопровождения openAPI</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42529556?query=java%20Saratov">Специалист сопровождения тестовых сред</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/39064797?query=java%20Saratov">Senior Web QA</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41137522?query=java%20Saratov">Специалист по автоматизированному тестированию/Java QA automation engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Лаборатория качества</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42449487?query=java%20Saratov">Android - разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Andersen</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42498284?query=java%20Saratov">Ведущий ИТ-инженер</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО ИК СИБИНТЕК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42429953?query=java%20Saratov">Android Senior Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Itransition</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42429886?query=java%20Saratov">Android Middle Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Itransition</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42405780?query=java%20Saratov">Software Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Неофлекс</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42330418?query=java%20Saratov">React Software Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">X-Cart (ООО Креативные Технологии)</td> 
     <td class="salary">100 000-190 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41898185?query=java%20Saratov">Software Development Engineer in Test / Инженер по автоматизации тестирования</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">X-Cart (ООО Креативные Технологии)</td> 
     <td class="salary">90 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40070935?query=java%20Saratov">Automation QA Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ПАО Совкомбанк</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42410511?query=java%20Saratov">Администратор SharePoint</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Netcracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41634288?query=java%20Saratov">Middle .Net Разработчик</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">Холдинг «Аэропорты Регионов»</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42367296?query=java%20Saratov">Team Lead (Backend, Growth)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42426234?query=java%20Saratov">Руководитель филиала IT компании</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">EGAR TECHNOLOGY, INC.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42367315?query=java%20Saratov">Team Lead (Frontend, Growth)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Miro</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42342965?query=java%20Saratov">Инженер по автоматизированному тестированию/стажер</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ЛАНИТ. Департамент корпоративных систем</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42360677?query=java%20Saratov">Junior/Middle Мобильный-разработчик</a></td> 
     <td class="city">Москва</td> 
     <td class="companyName">Суворов Андрей</td> 
     <td class="salary">100 000-150 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38980516?query=java%20Saratov">GoLang Full-stack разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО РэйнбовСофт, НПО</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38345298?query=java%20Saratov">Senior QA Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Lineate</td> 
     <td class="salary">100 000-115 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42279340?query=java%20Saratov">Младший front-end разработчик (TypeScript, React)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Exactpro</td> 
     <td class="salary">45 000-64 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42258180?query=java%20Saratov">Mobile (iOS&amp;Android) developer (Saint Petersburg/Remote)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">OpenWay Group</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42253536?query=java%20Saratov">Cloud Infrastructure Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Netcracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42253718?query=java%20Saratov">Senior Cloud Infrastructure Developer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Netcracker Technology Corp.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41558846?query=java%20Saratov">Специалист ITSM</a></td> 
     <td class="city">Екатеринбург</td> 
     <td class="companyName">ПАО Аэропорт Кольцово</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40338546?query=java%20Saratov">Senior Android разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40338596?query=java%20Saratov">Senior Android разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42212451?query=java%20Saratov">Разработчик мобильных приложений IOS/Android</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">JCat.ru</td> 
     <td class="salary">150 000-170 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38273971?query=java%20Saratov">Lead Android разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Mercury Development</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42167269?query=java%20Saratov">Android-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42209060?query=java%20Saratov">BigData-разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42166844?query=java%20Saratov">Инженер по автоматизированному тестированию</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42131158?query=java%20Saratov">Intern ML Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/37953033?query=java%20Saratov">Senior Database Engineer / Architect</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Lineate</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42067249?query=java%20Saratov">Программист Android</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Руна-Сервис</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42182771?query=java%20Saratov">HTML-верстальщик на Тильде</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Молния</td> 
     <td class="salary">20 000-40 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42097716?query=java%20Saratov">Middle QA (remote)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">IT_Selection</td> 
     <td class="salary">120 000-200 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38166134?query=java%20Saratov">QA Automation Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41160268?query=java%20Saratov">Инженер автоматизированного тестирования</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Эксперио</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/39311446?query=java%20Saratov">DevOps Engineer (Azure)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/39559125?query=java%20Saratov">Big Data Trainee</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38571170?query=java%20Saratov">Senior ML Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38570929?query=java%20Saratov">Big Data Engineer (PySpark)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38570596?query=java%20Saratov">Big Data Developer (Python and SQL)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42038919?query=java%20Saratov">Intern QA Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42039318?query=java%20Saratov">Intern Big Data Engineer</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Grid Dynamics</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/41992725?query=java%20Saratov">JavaScript разработчик</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">Артезио - Саратов</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/39570246?query=java%20Saratov">Рекрутер</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Lineate</td> 
     <td class="salary">от 35 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40598989?query=java%20Saratov">Стажер в инженерный отдел</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Роберт Бош Саратов</td> 
     <td class="salary">до 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/40598988?query=java%20Saratov">Стажер в инженерный отдел</a></td> 
     <td class="city">Энгельс</td> 
     <td class="companyName">ООО Роберт Бош Саратов</td> 
     <td class="salary">до 20 000 руб.</td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38764738?query=java%20Saratov">Разработчик .NET</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Space App</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/38764774?query=java%20Saratov">Разработчик мобильных приложений (Android, iOS)</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО Space App</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/42041480?query=java%20Saratov">Инструктор тренинг-центра</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">EPAM Systems, Inc.</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy"> 
     <td class="title"><a href="https://saratov.hh.ru/vacancy/37191484?query=java%20Saratov">Специалист по интеграции SAP системы</a></td> 
     <td class="city">Саратов</td> 
     <td class="companyName">ООО ИК СИБИНТЕК</td> 
     <td class="salary"></td> 
    </tr>
    <tr class="vacancy template" style="display: none"> 
     <td class="title"><a href="url"></a></td> 
     <td class="city"></td> 
     <td class="companyName"></td> 
     <td class="salary"></td> 
    </tr> 
   </tbody> 
  </table>  
 </body>
</html>